<a href="https://colab.research.google.com/github/sashaTen/python_for_data-_science-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import   pandas  as  pd 
import seaborn as sns
import   numpy as np
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling   import  RandomOverSampler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
df_application=    pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/application_record.csv')
df_credit =   pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/credit_record.csv')
# test_df =  pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/test.csv')
# train_df  =pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/train.csv')
# print( len(train_df.columns ))
# print(test_df['Is high risk'].value_counts())
#https://github.com/semasuka/Credit-card-approval-prediction-classification

Build a machine learning model to predict if an applicant is 'good' or 'bad' client, different from other tasks, the definition of 'good' or 'bad' is not given. You should use some techique, such as vintage analysis to construct you label. Also, unbalance data problem is a big problem in this task.

In [ ]:
df_credit.head(5)

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [ ]:
df_application.head(5)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [ ]:
sudo_credit =     df_credit
sudo_application  =  df_application
print(sudo_credit.columns)
print(sudo_application.columns)

Index(['ID', 'MONTHS_BALANCE', 'STATUS'], dtype='object')
Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS'],
      dtype='object')

Feature name	Explanation	Remarks
ID	Client number	
CODE_GENDER	Gender	
FLAG_OWN_CAR	Is there a car	
FLAG_OWN_REALTY	Is there a property	
CNT_CHILDREN	Number of children	
AMT_INCOME_TOTAL	Annual income	
NAME_INCOME_TYPE	Income category	
NAME_EDUCATION_TYPE	Education level	
NAME_FAMILY_STATUS	Marital status	
NAME_HOUSING_TYPE	Way of living	
DAYS_BIRTH	Birthday	Count backwards from current day (0), -1 means yesterday
DAYS_EMPLOYED	Start date of employment	Count backwards from current day(0). If positive, it means the person currently unemployed.
FLAG_MOBIL	Is there a mobile phone	
FLAG_WORK_PHONE	Is there a work phone	
FLAG_PHONE	Is there a phone	
FLAG_EMAIL	Is there an email	
OCCUPATION_TYPE	Occupation	
CNT_FAM_MEMBERS	Family size	
credit_record.csv		
Feature name	Explanation	Remarks
ID	Client number	
MONTHS_BALANCE	Record month	The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on
STATUS	Status	0: 1-29 days past due 1: 30-59 days past due 2: 60-89 days overdue 3: 90-119 days overdue 4: 120-149 days overdue 5: Overdue or bad debts, write-offs for more than 150 days C: paid off that month X: No loan for the month

In [ ]:


# Read your dataset into a Pandas DataFrame


# Check for missing values
missing_values_application = sudo_application.isnull().sum()
missing_values_credit  =    sudo_credit.isnull().sum()
# Print the count of missing values for each column
print(missing_values_application)
print('***************')
print(missing_values_credit)

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
dtype: int64
***************
ID                0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

In [ ]:
print(sudo_application.shape)
print(sudo_credit.shape)

(438557, 18)
(1048575, 3)

In [ ]:
def percent_missed(col, df):
    percent = (df[col].isnull().sum() / len(df[col])) * 100
    return "The percentage of missing values in column '{}' is: {:.2f}%".format(col, percent)

print(percent_missed('OCCUPATION_TYPE' ,    sudo_application))

The percentage of missing values in column 'OCCUPATION_TYPE' is: 30.60%

In [ ]:
print(sudo_application['OCCUPATION_TYPE'].head(18))

0                NaN
1                NaN
2     Security staff
3        Sales staff
4        Sales staff
5        Sales staff
6        Sales staff
7                NaN
8                NaN
9                NaN
10       Accountants
11       Accountants
12       Accountants
13          Laborers
14          Laborers
15          Laborers
16          Laborers
17          Laborers
Name: OCCUPATION_TYPE, dtype: object

In [ ]:

df_without_null = sudo_application.dropna(subset=['OCCUPATION_TYPE'])
# Assuming you have a DataFrame named 'df' containing your data
# with columns 'AMT_INCOME_TOTAL' and 'OCCUPATION_TYPE'

# Group the data by 'OCCUPATION_TYPE' and calculate the average income
income_by_job = df_without_null.groupby('OCCUPATION_TYPE')['AMT_INCOME_TOTAL'].mean()

# Print the average income for each job title
print(income_by_job)

OCCUPATION_TYPE
Accountants              215137.274977
Cleaning staff           147064.463815
Cooking staff            155848.425334
Core staff               190905.844378
Drivers                  202065.242047
HR staff                 203620.686047
High skill tech staff    195712.011010
IT staff                 210958.733444
Laborers                 179865.810449
Low-skill Laborers       150334.309346
Managers                 282125.938701
Medicine staff           168102.197707
Private service staff    201600.651042
Realty agents            223510.806916
Sales staff              170912.759267
Secretaries              169456.878669
Security staff           169835.113662
Waiters/barmen staff     158796.621622
Name: AMT_INCOME_TOTAL, dtype: float64

In [ ]:
# NAME_INCOME_TYPE
unique_values = sudo_application['OCCUPATION_TYPE'].sort_values().unique()
print(unique_values)

['Accountants' 'Cleaning staff' 'Cooking staff' 'Core staff' 'Drivers'
 'HR staff' 'High skill tech staff' 'IT staff' 'Laborers'
 'Low-skill Laborers' 'Managers' 'Medicine staff' 'Private service staff'
 'Realty agents' 'Sales staff' 'Secretaries' 'Security staff'
 'Waiters/barmen staff' nan]

In [ ]:
sudo_application['OCCUPATION_TYPE'].fillna(value='Other', inplace=True)

In [ ]:
print(sudo_application['OCCUPATION_TYPE'].head(18))

0              Other
1              Other
2     Security staff
3        Sales staff
4        Sales staff
5        Sales staff
6        Sales staff
7              Other
8              Other
9              Other
10       Accountants
11       Accountants
12       Accountants
13          Laborers
14          Laborers
15          Laborers
16          Laborers
17          Laborers
Name: OCCUPATION_TYPE, dtype: object

In [ ]:


# CODE_GENDER Gender
# FLAG_OWN_CAR Is there a car
# FLAG_OWN_REALTY Is there a property
# CNT_CHILDREN Number of children
# AMT_INCOME_TOTAL Annual income
# NAME_INCOME_TYPE Income category
# NAME_EDUCATION_TYPE Education level
# NAME_FAMILY_STATUS Marital status
# NAME_HOUSING_TYPE Way of living
# DAYS_BIRTH Birthday Count backwards from current day (0), -1 means yesterday DAYS_EMPLOYED Start date of employment Count backwards from current day(0). If positive, it means the person currently unemployed. 
# FLAG_MOBIL Is there a mobile phone
# FLAG_WORK_PHONE Is there a work phone
# FLAG_PHONE Is there a phone
# FLAG_EMAIL Is there an email
# OCCUPATION_TYPE Occupation
# CNT_FAM_MEMBERS Family size

credit_columns_names  =    { 'ID'   :    'id', 'MONTHS_BALANCE'  :   'months_balance', 'STATUS' :  'status'}

application_columns_names =    {'ID'   :   'id', 'CODE_GENDER'  : 'gender', 'FLAG_OWN_CAR'   :   'car_true', 'FLAG_OWN_REALTY'  :"property_true", 'CNT_CHILDREN':   'number_of_children',
       'AMT_INCOME_TOTAL' :  'annual_income', 'NAME_INCOME_TYPE'  :  'income_category', 'NAME_EDUCATION_TYPE'  :'education',
       'NAME_FAMILY_STATUS'   :   'married', 'NAME_HOUSING_TYPE'  :   'type_of_home', 'DAYS_BIRTH'    :   'days_birth',
       'DAYS_EMPLOYED'   : 'reverse_hire_date', 'FLAG_MOBIL'   : 'mobile', 'FLAG_WORK_PHONE'   :   'work_phone_true', 'FLAG_PHONE'  : 'home_phone',
       'FLAG_EMAIL'   :'email_true', 'OCCUPATION_TYPE':  'job_name', 'CNT_FAM_MEMBERS'   :  'family_size'}


sudo_application  =    sudo_application.rename(columns  =  application_columns_names)      
sudo_credit       =    sudo_credit.rename(columns =   credit_columns_names)

print(sudo_application.columns)
print(sudo_credit.columns)

Index(['id', 'gender', 'car_true', 'property_true', 'number_of_children',
       'annual_income', 'income_category', 'education', 'married',
       'type_of_home', 'days_birth', 'reverse_hire_date', 'mobile',
       'work_phone_true', 'home_phone', 'email_true', 'job_name',
       'family_size'],
      dtype='object')
Index(['id', 'months_balance', 'status'], dtype='object')

In [ ]:

print(sudo_credit.info())
print(sudo_application.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1048575 non-null  int64
 1   months_balance  1048575 non-null  int64
 2   status          1048575 non-null  object
dtypes: int64(2), object(1)
memory usage: 24.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  438557 non-null  int64
 1   gender              438557 non-null  object
 2   car_true            438557 non-null  object
 3   property_true       438557 non-null  object
 4   number_of_children  438557 non-null  int64
 5   annual_income       438557 non-null  float64
 6   income_category     438557 non-null  object
 7   education           438557 non-null  object
 8   married             438557 non-null  object
 9   type_of_home        438557 non-null  object
 10  days_birth          438557 non-null  int64
 11  reverse_hire_date   438557 non-null  int64
 12  mobile              438557 non-null  int64
 13  work_phone_true     438557 non-null  int64
 14  home_phone          438557 non-null  int64
 15  email_true          438557 non-null  int64
 16  job_name            438557 non-null  object
 17  family_size         438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB
None

In [ ]:
print(sudo_credit.isna().sum())


#    sum    counts   true  and  in  our  case   is   not  null  it returns   false.which   means  that  no   missing  values

id                0
months_balance    0
status            0
dtype: int64

OUTLIERS

In [ ]:
unique_values = sudo_application['home_phone'].sort_values().unique()
print(unique_values)

[0 1]

In [ ]:
numeric_sudo  = [ 'number_of_children',
       'annual_income', 'days_birth', 'reverse_hire_date', 'mobile',
       'work_phone_true', 'home_phone', 'email_true', 'job_name',
       'family_size']

ordinal_sudo  =  [ 'education' ]
categorical_sudo =['income_category' ,'married' ,   'type_of_home',  'job_name' ]
time_sudo  = ['days_birth', 'reverse_hire_date']
boolean_sudo  = ['gender' ,  'car_true' ,   'property_true' ,'work_phone_true', 'home_phone', 'email_true', ]



def get_unique_values(df):
    unique_values = {}
    for column in df.columns:
        unique_values[column] = (len(df[column].unique()), '\n')
    return unique_values


print(get_unique_values(sudo_application))

{'id': (438510, '\n'), 'gender': (2, '\n'), 'car_true': (2, '\n'), 'property_true': (2, '\n'), 'number_of_children': (12, '\n'), 'annual_income': (866, '\n'), 'income_category': (5, '\n'), 'education': (5, '\n'), 'married': (5, '\n'), 'type_of_home': (6, '\n'), 'days_birth': (16379, '\n'), 'reverse_hire_date': (9406, '\n'), 'mobile': (1, '\n'), 'work_phone_true': (2, '\n'), 'home_phone': (2, '\n'), 'email_true': (2, '\n'), 'job_name': (19, '\n'), 'family_size': (13, '\n')}

UNITE  TABLES

In [ ]:
merged_loan_df =    pd.merge(sudo_application ,  sudo_credit ,   on='id')

In [ ]:
print(merged_loan_df.head())

        id gender car_true property_true  number_of_children  annual_income  \
0  5008804      M        Y             Y                   0       427500.0
1  5008804      M        Y             Y                   0       427500.0
2  5008804      M        Y             Y                   0       427500.0
3  5008804      M        Y             Y                   0       427500.0
4  5008804      M        Y             Y                   0       427500.0

  income_category         education         married      type_of_home  \
0         Working  Higher education  Civil marriage  Rented apartment
1         Working  Higher education  Civil marriage  Rented apartment
2         Working  Higher education  Civil marriage  Rented apartment
3         Working  Higher education  Civil marriage  Rented apartment
4         Working  Higher education  Civil marriage  Rented apartment

   days_birth  reverse_hire_date  mobile  work_phone_true  home_phone  \
0      -12005              -4542       1                1           0
1      -12005              -4542       1                1           0
2      -12005              -4542       1                1           0
3      -12005              -4542       1                1           0
4      -12005              -4542       1                1           0

   email_true job_name  family_size  months_balance status
0           0    Other          2.0               0      C
1           0    Other          2.0              -1      C
2           0    Other          2.0              -2      C
3           0    Other          2.0              -3      C
4           0    Other          2.0              -4      C

In [ ]:
print(merged_loan_df.shape)
print(sudo_application.shape)
print(sudo_credit.shape)

(777715, 20)
(438557, 18)
(1048575, 3)

In [ ]:
merged_loan_df.drop_duplicates(subset='id', inplace=True)

In [ ]:
print(merged_loan_df.shape)
print(sudo_application.shape)
print(sudo_credit.shape)

(36457, 20)
(438557, 18)
(1048575, 3)

In [ ]:
import lightgbm as lgb
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from skopt import BayesSearchCV

# Load dataset
data = load_breast_cancer()
X = data.data
y = data.target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define LightGBM model
model = lgb.LGBMClassifier()

# Define hyperparameter search space for Bayesian Optimization
param_space = {
    'learning_rate': (0.01, 1.0, 'log-uniform'),
    'max_depth': (1, 10),
    'num_leaves': (2, 50),
    'subsample': (0.1, 1.0, 'uniform'),
    'colsample_bytree': (0.1, 1.0, 'uniform'),
    'reg_alpha': (0.0, 10.0, 'log-uniform'),
    'reg_lambda': (0.0, 10.0, 'log-uniform'),
    'min_child_samples': (1, 20),
}

# Perform Bayesian Optimization with cross-validation
opt = BayesSearchCV(model, param_space, n_iter=50, cv=3)
opt.fit(X_train, y_train)

# Print best hyperparameters and corresponding score
print("Best parameters found: ", opt.best_params_)
print("Best score found: ", opt.best_score_)

# Evaluate the model with the best hyperparameters on the test set
best_model = opt.best_estimator_
accuracy = best_model.score(X_test, y_test)
print("Accuracy on test set: ", accuracy)