<a href="https://colab.research.google.com/github/sashaTen/python_for_data-_science-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import   pandas  as  pd 
import seaborn as sns
import   numpy as np
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling   import  RandomOverSampler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
df_application=    pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/application_record.csv')
df_credit =   pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/credit_record.csv')
# test_df =  pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/test.csv')
# train_df  =pd.read_csv('https://raw.githubusercontent.com/semasuka/Credit-card-approval-prediction-classification/main/datasets/train.csv')
# print( len(train_df.columns ))
# print(test_df['Is high risk'].value_counts())
#https://github.com/semasuka/Credit-card-approval-prediction-classification

Build a machine learning model to predict if an applicant is 'good' or 'bad' client, different from other tasks, the definition of 'good' or 'bad' is not given. You should use some techique, such as vintage analysis to construct you label. Also, unbalance data problem is a big problem in this task.

In [3]:
df_credit.head(5)

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [2]:
df_application.head(5)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [6]:
sudo_credit =     df_credit
sudo_application  =  df_application
print(sudo_credit.columns)
print(sudo_application.columns)

Index(['ID', 'MONTHS_BALANCE', 'STATUS'], dtype='object')
Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS'],
      dtype='object')

Feature name	Explanation	Remarks
ID	Client number	
CODE_GENDER	Gender	
FLAG_OWN_CAR	Is there a car	
FLAG_OWN_REALTY	Is there a property	
CNT_CHILDREN	Number of children	
AMT_INCOME_TOTAL	Annual income	
NAME_INCOME_TYPE	Income category	
NAME_EDUCATION_TYPE	Education level	
NAME_FAMILY_STATUS	Marital status	
NAME_HOUSING_TYPE	Way of living	
DAYS_BIRTH	Birthday	Count backwards from current day (0), -1 means yesterday
DAYS_EMPLOYED	Start date of employment	Count backwards from current day(0). If positive, it means the person currently unemployed.
FLAG_MOBIL	Is there a mobile phone	
FLAG_WORK_PHONE	Is there a work phone	
FLAG_PHONE	Is there a phone	
FLAG_EMAIL	Is there an email	
OCCUPATION_TYPE	Occupation	
CNT_FAM_MEMBERS	Family size	
credit_record.csv		
Feature name	Explanation	Remarks
ID	Client number	
MONTHS_BALANCE	Record month	The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on
STATUS	Status	0: 1-29 days past due 1: 30-59 days past due 2: 60-89 days overdue 3: 90-119 days overdue 4: 120-149 days overdue 5: Overdue or bad debts, write-offs for more than 150 days C: paid off that month X: No loan for the month

In [8]:


# Read your dataset into a Pandas DataFrame


# Check for missing values
missing_values_application = sudo_application.isnull().sum()
missing_values_credit  =    sudo_credit.isnull().sum()
# Print the count of missing values for each column
print(missing_values_application)
print('***************')
print(missing_values_credit)

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
dtype: int64
***************
ID                0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

In [9]:
print(sudo_application.shape)
print(sudo_credit.shape)

(438557, 18)
(1048575, 3)

In [12]:
def percent_missed(col, df):
    percent = (df[col].isnull().sum() / len(df[col])) * 100
    return "The percentage of missing values in column '{}' is: {:.2f}%".format(col, percent)

print(percent_missed('OCCUPATION_TYPE' ,    sudo_application))

The percentage of missing values in column 'OCCUPATION_TYPE' is: 30.60%

In [14]:
print(sudo_application['OCCUPATION_TYPE'].head(18))

0                NaN
1                NaN
2     Security staff
3        Sales staff
4        Sales staff
5        Sales staff
6        Sales staff
7                NaN
8                NaN
9                NaN
10       Accountants
11       Accountants
12       Accountants
13          Laborers
14          Laborers
15          Laborers
16          Laborers
17          Laborers
Name: OCCUPATION_TYPE, dtype: object

In [17]:

df_without_null = sudo_application.dropna(subset=['OCCUPATION_TYPE'])
# Assuming you have a DataFrame named 'df' containing your data
# with columns 'AMT_INCOME_TOTAL' and 'OCCUPATION_TYPE'

# Group the data by 'OCCUPATION_TYPE' and calculate the average income
income_by_job = df_without_null.groupby('OCCUPATION_TYPE')['AMT_INCOME_TOTAL'].mean()

# Print the average income for each job title
print(income_by_job)

OCCUPATION_TYPE
Accountants              215137.274977
Cleaning staff           147064.463815
Cooking staff            155848.425334
Core staff               190905.844378
Drivers                  202065.242047
HR staff                 203620.686047
High skill tech staff    195712.011010
IT staff                 210958.733444
Laborers                 179865.810449
Low-skill Laborers       150334.309346
Managers                 282125.938701
Medicine staff           168102.197707
Private service staff    201600.651042
Realty agents            223510.806916
Sales staff              170912.759267
Secretaries              169456.878669
Security staff           169835.113662
Waiters/barmen staff     158796.621622
Name: AMT_INCOME_TOTAL, dtype: float64

In [31]:
# NAME_INCOME_TYPE
unique_values = sudo_application['OCCUPATION_TYPE'].sort_values().unique()
print(unique_values)

['Accountants' 'Cleaning staff' 'Cooking staff' 'Core staff' 'Drivers'
 'HR staff' 'High skill tech staff' 'IT staff' 'Laborers'
 'Low-skill Laborers' 'Managers' 'Medicine staff' 'Other'
 'Private service staff' 'Realty agents' 'Sales staff' 'Secretaries'
 'Security staff' 'Waiters/barmen staff']

In [35]:
sudo_application['OCCUPATION_TYPE'].fillna(value='Other', inplace=True)

In [37]:
print(sudo_application['OCCUPATION_TYPE'].head(18))

0              Other
1              Other
2     Security staff
3        Sales staff
4        Sales staff
5        Sales staff
6        Sales staff
7              Other
8              Other
9              Other
10       Accountants
11       Accountants
12       Accountants
13          Laborers
14          Laborers
15          Laborers
16          Laborers
17          Laborers
Name: OCCUPATION_TYPE, dtype: object