<a href="https://colab.research.google.com/github/sashaTen/exploretary_data_analysis_in_marketing/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
##  pandas  tutorial 
import  pandas  as pd 
df = pd.read_csv("https://raw.githubusercontent.com/LearnDataSci/articles/master/Essential%20Statistics/middle_tn_schools.csv")
##but opinions won't do, nor will a handful of facts; she needs rigorous statistical evidence.
##Descriptive statistics identify patterns in the data, but they don't allow for making hypotheses about the data.
##Inferential statistics allow us to make hypotheses (or inferences) about a sample

# For example, suppose a realtor collects data on the price of 100 houses in her city and finds that the mean price is $150,000 and the standard deviation of prices is $12,000. The CV would be calculated as:

# CV: $12,000 / $150,000 = .08
# Since this CV value is well below 1, this tells us that the standard deviation of the data is quite low.



df[['reduced_lunch', 'school_rating']].groupby(['school_rating']).describe()

              reduced_lunch                                                  \
                      count       mean        std   min    25%   50%    75%
school_rating
0.0                    43.0  83.581395   8.813498  53.0  79.50  86.0  90.00
1.0                    40.0  74.950000  11.644191  53.0  65.00  74.5  84.25
2.0                    44.0  64.272727  11.956051  37.0  54.75  62.5  74.00
3.0                    56.0  50.285714  13.550866  24.0  41.00  48.5  63.00
4.0                    86.0  41.000000  16.681092   4.0  30.00  41.5  50.00
5.0                    78.0  21.602564  17.651268   2.0   8.00  19.0  29.75


                max
school_rating
0.0            98.0
1.0            98.0
2.0            88.0
3.0            78.0
4.0            87.0
5.0            87.0

In [15]:
# Looking at the output above, Sally's variables can be put into two classes: 
# measurements and indicators.

# Measurements are variables that can be quantified.
#  All data in the output above are measurements.
#   Some of these measurements, such as state_percentile_16, avg_score_16 and school_rating, are outcomes; 
#   these outcomes cannot be used to explain one another. 
#   For example, explaining school_rating as a result of state_percentile_16 (test scores) is circular logic.
#    Therefore we need a second class of variables.




# groupby   is   very   useful   thing
# first  it   shows column's   unique  values  
# and  for   each    it   applies   methods  
# like    desc()    in  our   case  the   the  number  of the 
# lunches 
# as we  can  see  the  higher   rating of the school  that
# reduced   lunch  number   school   get   because   
# only   children  from   poor   families   losses      lunches
# and  the   poorer   household  the   worse   grades  of   student  from  that
# household  .  we can  say  this   by   the  mean   values  of   reduced  lunches 
# on the   other   hand    standart  deviation  of  the   lunches 
#   grows   the   higher   rating gets   which   means  that 
#   the  higher   it  gets   the  less  role   lunches   play 



#############you   hvae   to : 
  #   1       find  what  reduced   lunches  mean
  #   2       learn   stats   such   as  percentile   and  other   topics 
  #   3       https://www.learndatasci.com/tutorials/data-science-statistics-using-python/  go  here 
   



# Sally decides to look at reduced_lunch from another angle 
# using a correlation matrix with pandas' corr method. 
# The values in the correlation matrix table will be between -1 and 1 (see below)   
# 


df[['reduced_lunch', 'school_rating']].corr()

               reduced_lunch  school_rating
reduced_lunch       1.000000      -0.815757
school_rating      -0.815757       1.000000