<a href="https://colab.research.google.com/github/sashaTen/python_for_data-_science-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import    pandas  as  pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


#   TEST   DATA 

# # https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv   //  
# print(df.head(45).to_string())






df=pd.read_csv("/content/drive/MyDrive/data   science /us_new_born_2million.csv")
print(df)

         weight_pounds state  year  month  child_race  plurality  mother_race  \
0             7.813183    GA  2003      9         NaN          1          1.0
1             8.000575    GA  2003      1         NaN          1          1.0
2             7.251004    GA  2003     12         NaN          1          1.0
3             9.568062    GA  2003      4         NaN          1          7.0
4             7.187070    GA  2004      2         NaN          1          1.0
...                ...   ...   ...    ...         ...        ...          ...
1998241       7.228958    HI  2003      9         NaN          1         38.0
1998242       6.375769    IL  2003      1         NaN          1          2.0
1998243       6.375769    MD  2004      8         NaN          1          2.0
1998244       6.750554    MS  2004     12         NaN          2          2.0
1998245       5.690131    NY  2003     10         NaN          1          2.0

         mother_age cigarette_use  cigarettes_per_day alcohol_use  \
0                34         False                 NaN       False
1                37          True                15.0        True
2                30         False                 NaN       False
3                39         False                 NaN       False
4                38         False                 NaN       False
...             ...           ...                 ...         ...
1998241          35         False                 NaN       False
1998242          32          True                 6.0        True
1998243          30         False                 NaN       False
1998244          29         False                 NaN       False
1998245          31          True                 9.0        True

         drinks_per_week  father_race  father_age  is_male  gestation_weeks
0                    NaN          1.0          39    False               39
1                    0.0          1.0          31     True               41
2                    NaN          1.0          38    False               40
3                    NaN          1.0          39     True               40
4                    NaN          1.0          39     True               40
...                  ...          ...         ...      ...              ...
1998241              NaN         99.0          99     True               40
1998242              0.0         99.0          99     True               38
1998243              NaN         99.0          48    False               39
1998244              NaN         99.0          99    False               40
1998245              0.0         99.0          99     True               38

[1998246 rows x 16 columns]